@import "./variable";
@import "./maxim";

@media (min-width:992px) and (max-width:1199px){
    .black-layer-turkey{
        .container{
            .button{
                transform: translate(0px, -623px) !important;
                button{
                    width: 100px;
                    height: 700px !important;
                }
            }
        }
    }
}
@media (min-width:768px) and (max-width:991px){
    .black-layer-turkey{
        .container{
            .button{
                transform: translate(0px, -433px) !important;
                button
                {
                    width: 100px;
                    height: 400px !important;
                }
            }
        }
    }
}
@media (min-width:477px) and (max-width:767px){
    .black-layer-turkey{
        .container{
            .button{
                transform: translate(0px, -293px) !important;
                button
                {
                    width: 100px;
                    height: 250px !important;
                }
            }
        }
    }
}
@media(max-width: 476px){
    .black-layer-turkey{
        .container{
            .button{
                transform: translate(0px, -211px) !important;
                button
                {
                    height: 214px !important;
                    width: 62px !important;
                }
            }
        }
    }
}


    .breadcrumb{
        padding-top:80px;
    }

.main-turkey{
    padding: 0 !important;
    .background-turkey{
        background-image: url("../images/turkey/15.jpg");
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        height: 300px;
        z-index: 0;
        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top:0;
            background-color: rgba(0, 0, 0, 0.244);
            z-index: -1;
        }
        h2{
            color: $main-color;
            display: flex;
            justify-content: center;
            transform: translateY(113px)        ;
        }
        
    }
    .container{
        margin-top: 80px;
        padding-bottom: 80px;
        .row{
            h5{
                color:$main-color;
            }
            p{
                line-height: 1.7;
            }
        }
    }
}

.black-layer-turkey{
    background-color: rgba(0, 0, 0, 0.345);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: -200vh;
    transition: 0.5s linear;
    z-index: 3;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width:12px;
    }
    &::-webkit-scrollbar-track{
        color:$main-color;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $main-color;
        border-radius: 20px;
        border: 3px solid $main-color;
    }
    .container
    {
        h2{
            color:$main-color;
            padding-top:160px;
        }
        .btn-x-turkey{
            @include button; 
        }
        .button{
            background-color: transparent;
            transform: translate(0px, -800px);
            button{
                width: 100px;
                height: 800px;
                &:focus{
                    border:none;
                }
            }
            svg
            {
                color:$main-color;
            }
        }

    }
}